# Copy these to Vercel Dashboard > Settings > Environment Variables
# Do NOT commit actual passwords to this file

PASS_201=
PASS_202=
PASS_203=
PASS_204=
PASS_205=
PASS_206=
PASS_207=
PASS_208=
PASS_209=
PASS_210=
PASS_211=
PASS_212=
PASS_213=
PASS_214=
PASS_215=
PASS_216=
PASS_217=
PASS_218=
PASS_219=
PASS_220=
PASS_221=
PASS_222=
PASS_223=
PASS_224=
PASS_225=
PASS_226=
PASS_227=
PASS_228=
PASS_MASTER=
TOKEN_SECRET=generate-a-long-random-string-here
