<footer class="bottom-nav">
  <nav>
    <a href="../page/sidebar.html" class="nav-btn" id="sidebarBtn" onclick="return handleSidebarClick(event)">
      <img src="../img/bottombar/sidebar_btn.png" alt="Sidebar" /></a>
    <a href="../page/home.html" class="nav-btn" id="homeBtn">
      <img src="../img/bottombar/home_btn.png" alt="Home" /></a>
    <a href="../page/notification.html" class="nav-btn" id="notificationBtn">
      <img src="../img/bottombar/notification_btn.png" alt="Notification" /></a>
    <a href="../page/favourite.html" class="nav-btn" id="favouriteBtn">
      <img src="../img/bottombar/favourite_btn.png" alt="Favourite" /></a>
  </nav>
</footer>
