<footer class="bottom-nav">
  <nav>
    <a href="/page/sidebar.html" class="nav-btn"><img src="../svg/bottombar/sidebar.svg" alt="Sidebar" /></a>
    <a href="/page/index.html" class="nav-btn"><img src="../svg/bottombar/index.svg" alt="Home" /></a>
    <a href="/page/notification.html" class="nav-btn"><img src="../svg/bottombar/notification.svg" alt="Notification" /></a>
    <a href="/page/favourite.html" class="nav-btn"><img src="../svg/bottombar/favourite.svg" alt="Favourite" /></a>
  </nav>
</footer>
